body{background-color: #efefef; margin:0; padding:0;}
h3{color: white;}
#container{margin: 0 auto; width: 80%; background:#fff;}
#header{width:1000px; height: 100px; padding-top:50px; background-image: url("../gambar/header.jpg");}
#header h1 { margin: 0; color: white;}
#navigation {float: left; width: 100%;background:#bfe250; height:30px; margin-top: 10px; margin-bottom: 10px;}
#navigation ul{margin: 0;padding: 0;}
#navigation ul li{list-style-type: none;display: inline;}
#navigation li a{display: block;float: left;padding: 5px
10px;color:#000;text-decoration: none;border-right: 1px solid#fff;}
#navigation li a:hover { background:#efefef; color: #000; }
#content{clear: left;padding: 20px; color:black;}
#header p {clear: left; color:black;}
#footer{background:#299c00;height:40px; color: black;padding-top: 15px;}